*{
  background-color: #131A2A;
  font-family: 'Gilroy';
}
.card{
  display: flex;
  /* flex-direction: column; */
  background-color: #1E293C;
  height: 55vh;
  width: 50vh;
  border-radius: 7%;
  justify-content: space-evenly;
}

.btn{
  flex-direction: row;
  background-color: #4C5564;
  height: 3vw;
  width: 10vw;
  border-radius: 7px;
  border-style: none;
  margin-top: 45vh;
  color: aliceblue;
  font-size: 25px;
}

.btn:hover{
  background-color: #3397DB;
}
.btn:active{
  background-color: #276e9e;
}

.circular-progressive{
  margin-top: 3vh;
  background-color: red;
  height: 30vh;
  width: 50vh;
  border-radius: 50%;
}